.nav-container {
  width: 100vw;
  height: 120px;
  background-color: rgba(247, 243, 243, 0.479);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 100px;
}

.nav-title {
  color: #1b1a1a;
  z-index: 2;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.nav-title:hover {
  color: rgb(3, 46, 141);
}

.logo {
  height: 250px;
}
