.nav-container {
  width: 100vw;
  height: 120px;
  background-color: black;
  opacity: 0.4;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 100px;
}
