.nav-container {
  width: 100vw;
  height: 110px;
  background-color: rgba(247, 243, 243, 0.479);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 100px;
}

.nav-title {
  color: #1b1a1a;
  z-index: 2;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.nav-title:hover {
  color: rgb(3, 46, 141);
}

.logo {
  height: 250px;
  margin-top: 5px;
}

.tix-btn {
  background-color: rgb(243, 195, 36);
  width: 120px;
  height: 40px;
  border-radius: 7px;
  color: #080808;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 18px;
  cursor: pointer;
  border: none;
  /* border: 2px solid black; */
  box-shadow: 2px 2px 2px rgb(36, 36, 35);
}
