.countdown-container {
  width: 100%;
  display: flex;
  margin-top: 50px;
}

.clock {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number {
  font-family: "Montserrat Alternates", sans-serif;
  display: flex;
  color: #fcba08;
  font-size: 100px;
}

.text {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 22px;
}
