.num-text {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  color: #fcba08;
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
}

.text {
  color: #ffffff;
  font-size: 22px;
}
