.landing-container {
  background-image: url("../../../assetts/images/music-show2.jpg");
  width: 100vw;
  height: 130vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  width: 80%;
  color: #ffffff;
  font-size: 80px;
  font-family: "Montserrat Alternates", sans-serif;
  text-transform: capitalize;
  padding-left: 40px;
}
